.terminal
{
background: black;
font-weight:bold;
font-family: monospace;
color: white;
}

a.list-group-item {
	background: black;
	color: white;
}

a.list-group-item:hover {
	background: blue;
	color: yellow;
}