.terminal
{
background: black;
font-family: "Lucida Console", Monaco, monospace;
color: white;
}

h1
{
  font-size: 170%;
}

h2 
{
  font-size: 130%;
}

a.list-group-item {
	background: black;
	color: white;
}

a.list-group-item:hover {
	background: blue;
	color: yellow;
}

.navbar-default
{
	background: black;
}

.navbar-default .navbar-nav > li.active a
{
  background: #428bca;
  color: white;
}
.navbar-default .navbar-nav > li > a
{
	color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover
{
	background: blue;
	color: yellow;
}

.nav-tabs a
{
  color: white;
}

.nav-tabs li a:hover 
{
  background: blue;
}


.table-hover >tbody >tr:hover >td
{
  color: yellow;
  background: #428bca;
}

table.tablesorter thead tr .header {
	background-image: url(blue/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(blue/asc.gif);
  background-color: #428bca;
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(blue/desc.gif);
  background-color: #428bca;
}
